fps=30
width=1820
height=1180
hours=12
minutes=0
focus=0.5
awbg="2.7,0.3"
## This is a list of times (hhmm) separated by spaces that you want the pi to start recording
schedule=0600
restart=1
format=mp4

## If this is blank, it will use the last 4 characters of the name /pivideos/pi##/
### If you want to use the last 5 characters (e.g., JON03), set it
## if you use "*" it will replace * with the last two characters (so JON* will become JON03)

pi_name="V*"

project_suffix=kas.ch1
