fps=1
width=1080
height=1080
hours=12
minutes=0
## This is a list of times (hhmm) separated by spaces that you want the pi to start recording
schedule=600
restart=0

## If these two are ommitted or blank, it will use the last 4 characters of the name /pivideos/pi##/
## Setting one or both can set your path to be /pivideos/box_dir/project_dir
### If you want to use the last 5 characters (e.g., JON03), set it
## if you use "*" it will replace * with the last two characters (so JON* will become JON03)

box_dir=""
project_dir=""

project_suffix=test.dummy
